body {
  margin: 0;
  background: black;
  color: white;
  font-family: Arial;
}

.container {
  max-width: 400px;
  margin: 40px auto;
}

input {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: gold;
  border: none;
  font-size: 18px;
  border-radius: 6px;
}

